* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
.navbar {
  height: 100vh;
  width: 100px;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
.navbar .image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: white;
  overflow: hidden;
}
.navbar .image img {
  max-height: 100%;
  max-width: 100%;
}

.navbar .widgets {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  transform: translateY(-200px);
}
.navbar .widgets a {
  color: rgba(255, 255, 255, 0.726);
}
.navbar .widgets a:hover {
  color: #fe5e37;
}
.navbar a {
  color: rgba(255, 255, 255, 0.726);
}
.navbar a:hover {
  color: white;
}
.main-content-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 60px;
  border-bottom: 1px rgba(0, 0, 0, 0.246) solid;
}
.header .Dashboard-text {
  font-size: 24px;
  font-weight: bold;
}
.header .icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.header .icons img {
  width: 25px;
  height: 25px;
}
.main-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 4fr;
  background-color: #ecedef;
}

.card-budget {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-slider-budget {
  width: 100%;
  height: 38%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.card-slider {
  width: 70%;
  height: 100%;
  display: flex;
}
.card {
  height: 100%;
  width: 85%;
  background-image: linear-gradient(to top right, #0c3380, #fe5e37);
  /* background-image: linear-gradient(to right, #333333, #000000); */
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .bank-details {
  display: flex;
  justify-content: space-between;
}
.card .bank-details p {
  font-size: 35px;
  color: rgba(255, 240, 240, 0.863);
}
.card .money-details {
  display: flex;
  font-size: 20px;
  color: rgba(255, 240, 240, 0.863);
}
.card .money-details .label {
  text-align: right;
  margin-right: 8px;
}
.card .money-details .daily-budget {
  height: 100px;
  width: 100%;
  text-align: right;
}
.card .money-details .daily-budget p {
  padding-right: 5pxç;
}
.slider {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider .circle {
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  border-radius: 100%;
  margin: 10px 0 10px 0;
}

.slider .plus {
  font-size: 50px;
  cursor: pointer;
}

.budget {
  width: 100%;
  height: 60%;
}

.calender-todo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

a {
  text-decoration: none;
}

.budget table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.239);
}
.budget table thead tr {
  background-color: #0a0a0a;
  color: white;
  text-align: left;
}
.budget table th,
.budget table td {
  padding: 12px 15px;
}
.budget table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.budget table tbody tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.budget table tbody tr .minus {
  color: #dc3545;
  font-weight: bold;
}
.budget table tbody tr .plus {
  color: #28a745;
  font-weight: bold;
}

.calender {
  width: 50%;
  height: 38%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calender .heading {
  display: flex;
  justify-content: space-between;
}

.calender .heading p {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 0 10px;
}
.calender .heading select {
  background-color: #fe5f37df;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.calender .heading select:focus {
  outline: none;
}

.calender .days table {
  background-color: #ecedefc9;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.calender .days table th,
.calender .days table td {
  padding: 5px;
  border: 0.1px solid rgba(0, 0, 0, 0.089);
}
#today {
  font-weight: bold;
  background-color: #fe5e37;
  text-align: center;
  border-radius: 100%;
}

.todo-section {
  width: 100%;
  height: 60%;
  background-color: white;
  padding: 12px 20px;
  border-radius: 20px;
}
.todo-section .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.todo-section .heading input {
  background-color: rgba(235, 235, 235, 0.993);
  width: 90%;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.todo-section .plus {
  font-size: 30px;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fe5e37;
  margin-top: 15px;
  padding: 12px;
  height: 40px;
  border-radius: 10px;
}
.todo .checkbox {
  min-width: 25px;
  min-height: 25px;
}
.todo img {
  max-height: 20px;
  max-width: 20px;
}
.todo p {
  font-weight: bold;
  padding-left: 5px;
  width: 100%;
}

@media only screen and (max-width: 1401px) {
  .navbar {
    display: none;
  }
}
@media only screen and (max-width: 1289px) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .card-slider {
    width: 100%;
    padding-left: 0px;
  }
  .card .bank-details p {
    font-size: 20px;
  }
  .card .money-details p {
    font-size: 15px;
  }
  .header .icons {
    width: 55%;
  }
  .calender-todo {
    margin-top: 20px;
  }
  .calender .heading p {
    font-size: 14px;
  }
  .calender .heading select {
    font-size: 14px;
    padding: 0px;
  }
  .calender .days table {
    font-size: 8px;
  }
}
